<header class="ah" data-name="{{user.firstName}}">
  <div class="ah__left">
    <a href="/" class="ah__left--logo">
      <img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962779/logos/logo_color.png" alt="Stevens Esports Logo">
    </a>
    <p class="ah__left--name">Hello, <strong>{{ user.firstName }}</strong>!</p>
  </div>
  <a href="/" class="ah__right button rounded">Back to Home Page</a>
  <a href="/logout" class="ah__right button rounded">Sign Out</a>
</header>