<header class="ah" data-name="{{user.firstName}}">
  <div class="ah__left">
    <a href="/" class="ah__left--logo">
      <img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962779/logos/logo_color.png" alt="Stevens Esports Logo">
    </a>
    <p class="ah__left--name">Hello, {{ user.firstName }}!</p>
  </div>
  <a href="/logout"class="ah__right">Sign Out</a>
</header>