<header id="header">
  <div class="container">
    <!--<button id="mobile-menu__trigger" class></button>-->
    <a href="/" class="header-logo"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962779/logos/logo_color.png" alt="Stevens Esports Logo"></a>
    <nav id="header-menu" class="">
      <div class="menu-main-nav-container">
        <ul id="menu-main-nav" class="menu">
          <li class="menu-item">
            <a href="https://esportsgear.com/collections/stevens-esports" target="_blank">Merch</a>
          </li>
          <li class="menu-item">
            <a href="/schedule">Schedule</a>
          </li>
          <li class="menu-item">
            <a href="/teams">Rosters</a>
          </li>
          <li class="menu-item">
            <a href="/">eBoard</a>
          </li>
          <li class="menu-item">
            <a href="/login">Sign In</a>
          </li>

          <!--li class="menu-item">
            <a href="/team-sign-up">Team Registration</a>
          </li-->

          <!--li class="menu-item">
            <a href="/user-profile">My Profile</a>
          </li-->

          <!--li class="menu-item">
            <a href="/dashboard">Dashboard</a>
          </li-->
          <!--li class="menu-item">
            <a href="/logout">Sign Out</a>
          </li-->
        </ul>
      </div>
    </nav>
  </div>
  <!-- .container -->
</header>