<header id="header">
  <div class="container">
    <!--<button id="mobile-menu__trigger" class></button>-->
    <a href="/" class="header-logo"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962779/logos/logo_color.png" alt="Stevens Esports Logo"></a>
    <nav id="header-menu" class="">
      <div class="menu-main-nav-container">
        <ul id="menu-main-nav" class="menu">
          <li class="menu-item">
            <a href="/schedule">Match Schedule</a>
          </li>
          <li class="team-dropdown">
            <a target="" onclick="dropdown()" class="dropdownButton">Rosters ▼</a>
            <div class="sub-menu-list" id="team-list">
              <span class="team">
                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="League of Legends Red Team">League of
                  Legends Red</a>
              </span>
              <span class="team">
                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="League of Legends Gray Team">League of
                  Legends Gray</a>
              </span>
              <span class="team">
                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="Overwatch Red Team">Overwatch Red</a>
              </span>
              <span class="team">
                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="Hearthstone Red Team">Hearthstone
                  Red</a>
              </span>
            </div>
            <!-- .sub-menu-list -->
          </li>
          <li class="menu-item">
            <a href="/team-sign-up">Team Registration</a>
          </li>
          <li class="menu-item">
            <a href="/login">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- .container -->
</header>