<section class="collapsable">
  <header>
    <h2>Manage Teams</h2>
    <button class="collapse-button button">&minus;</button>
  </header>
  <button class="add-match button" id="add-team-button">Add Team</button>
  {{> loader }}
  <table id="users" class="fillable">
    <thead>
      <tr>
        <th data-name="firstName">
          First Name
        </th>
        <th data-name="email">
          Email
        </th>
        <th data-name="username">
          Username
        </th>
        <th data-name="role">
          Role
        </th>
        <th data-name="edit">
          Edit
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <form>
  </form>
</section>