<h1>
    {{title}}
</h1>
<main>
{{#each teams}}
    <p class="overall_team">{{this.name}}</p>
    <a class="team_link" href='http://localhost:3000/teams/{{this._id}}'>View More Info</a>
{{/each}}
</main>