<main>
<div> 
  {{#if team.name}}
  <h1>{{team.name}}</h1> 
  {{/if}}
  <dl>
      {{#if team.status}}
      <dt class="teamStatus">Varsity Status</dt>
      <dd class="teamStatus">{{team.status}}</dd>
      {{/if}}
      {{#if team.game}}
      <dt class="teamGame">Game</dt>
      <dd class="teamGame">{{team.game}}</dd>
      {{/if}}
      {{#if players}}
      <dt class="teamPlayers">Roster</dt>
      <dd class="teamPlayers">
          <ul>
              {{#each players}}
              <li>
                  {{this}}
              </li>
              {{/each}}
          </ul>
      </dd>
      {{/if}}
  </dl>
  <a href="/teams" class="teamLink">Back to All Teams</a>
</div> 
</main>