/*
    Base CSS, applied to all pages
*/
html {
    font-size: 100%;
    /* Mobile browsers Edge, IE 10 */
    -ms-text-size-adjust: 100%;
    /* Mobile browsers Chrome, Safari, Edge */
    -webkit-text-size-adjust: 100%;
}

html, button, input, textarea, select {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

/*
    Link outline inconsistency between browsers
    Improves readability when focused and hovered
*/
a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

a:link, a:visited {
    text-decoration: none;
}

/* 
    Addresses differences in typography between browsers
*/
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
  
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
  
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
  
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
  
h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
  
h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

p, pre {
    margin: 0;
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}
  
sub {
    bottom: -0.25em;
}

/*
    Reuseable Elements
*/
.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 836px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 550px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container.width--max {
    max-width: 1216px;
}

.container.width--wide {
    max-width: 1026px;
}

#header {
    background: linear-gradient(to bottom, #767676, #76767600);
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#header a.header-logo {
    display: block;
}

#header a.header-logo img {
    display: block;
    height: 95px;
    width: 95px;
}

#header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-menu ul.menu > li > a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

#header-menu ul.menu > li > a:hover, #header-menu ul.menu > li > a:focus {
    color: #ff2929;
    outline: none;
}

#header .container {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    padding: 0 50px;
    height: 120px;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #555555;
    color: #FFFFFF;
}

#landing-banner {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    pointer-events: none;
}

.page-container {
    position: relative;
}

#landing-intro {
    margin: 0 0 96px;
    text-align: center;
    color: #df1f1f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 2.4rem;
    font-size: 1.7rem;
    letter-spacing: 0.8px;
}

@media (max-width: 550px) {
    #landing-intro {
        margin: 0 0 80px;
    }
} 

#landing-intro h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 1.51px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

#landing-intro p {
    margin-bottom: 50px;
    padding-bottom: 60px;
}

body .main {
    padding-top: 40px;
    background-image: url('/public/assets/intro_bg.jpg');
    background-size: 100% 1518px;
    background-repeat: no-repeat;
    background-position: center top -850px;
    z-index: 10;
}

@media (max-width: 550px) {
    body .main {
        padding-top: 30px;
    }
}

/*
    Footer
*/
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer .footer-sm {
    padding: 0 0 12px;
}

#footer .footer-sm h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 1.13px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 2px 4px #810000;
    margin-bottom: 24px;
}

#footer .footer-sm .sm-links {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

#footer .footer-sm .sm-links li {
    margin-left: 6px;
    margin-top: 6px;
}

#footer .footer-sm .sm-links a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 12px 5.5% 12px 5.5%;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#392525), color-stop(51.72%, #482828), to(#392525));
    background: linear-gradient(180deg, #392525 0%, #482828 51.72%, #392525 100%);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

#footer .footer-sm .sm-links a:hover,
#footer .footer-sm .sm-links a:focus {
    opacity: 0.7;
}

#footer .footer-sm .sm-links a span.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

#footer .footer-sm .sm-links a span.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.9rem;
    line-height: 2.4rem;
    letter-spacing: 1.33px;
    text-shadow: 0 2px 4px #555555;
    color: #ffb7b7;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 801px) {
    #footer .footer-sm .sm-links li {
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: calc(25% - 5px);
    }
    #footer .footer-sm .sm-links li:nth-child(4n+1) {
        margin-left: 0;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    #footer .footer-sm .sm-links li {
        -webkit-box-flex: 0;
        flex: 0 0 33.333%;
        max-width: calc(33.333% - 4px);
    }
    #footer .footer-sm .sm-links li:nth-child(3n+1) {
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    #footer .footer-sm .sm-links li {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: calc(50% - 3px);
    }
    #footer .footer-sm .sm-links li:nth-child(2n+1) {
        margin-left: 0;
    }
}

@media (max-width: 525px) {
    #footer .footer-sm .sm-links a span.icon {
        height: 36px;
        width: 36px;
    }
}

@media (max-width: 375px) {
    #footer .footer-sm .sm-links a {
        padding: 12px 5% 12px 1%;
    }
    #footer .footer-sm .sm-links a span.icon {
        margin-right: 3px;
    }
    #footer .footer-sm .sm-links a span.text {
        font-size: 0.8rem;
    }
}

@media (min-width: 1201px) {
    #header .container {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }

    #header-menu {
        -webkit-box-flex: 0;
        flex: 0 1 100%;
        margin-left: 60px;
    }

    #header-menu ul {
        white-space: nowrap;
    }

    #header-menu ul.menu > li {
        display: inline-block;
        vertical-align: middle;
    }

    #header-menu ul.menu > li > a {
        padding: 0 24px;
        line-height: 96px;
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 1200px) {
    #header-menu ul.menu {
        padding-bottom: 75px;
    }
    
    #header-menu ul.menu > li {
        padding: 0;
        border-bottom: 1px solid rgba(225,225,225,0.2);
    }

    #header-menu ul.menu > li > a {
        display: block;
        padding: 22px 0;
    }

    #header .menu-main-nav-container {
        overflow-y: auto;
        max-height: calc(100% - 96px);
        padding: 0 36px;
        border-top: 1px solid rgba(225,225,225,0.2);
    }

}