#header {
    background: linear-gradient(to bottom, rgba(53,53,53,1), rgba(53,53,53,0));
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#header a.header-logo {
    display: block;
}

#header a.header-logo img {
    display: block;
    height: 95px;
    width: 95px;
}

#header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-menu ul.menu > li > a {
    font-family: 'HartwellAlt-Bold', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

#header-menu ul.menu > li > a:hover, #header-menu ul.menu > li > a:focus {
    color: #cc3434;
    outline: none;
}

#header .container {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    padding: 0 50px;
    height: 120px;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-color: #444444;
    color: #FFFFFF;
}

#landing-banner {
    width: 100%;
    position: relative;
}

@media (min-width: 1201px) {
    #header .container {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }

    #header-menu {
        -webkit-box-flex: 0;
        flex: 0 1 100%;
        margin-left: 60px;
    }

    #header-menu ul {
        white-space: nowrap;
    }

    #header-menu ul.menu > li {
        display: inline-block;
        vertical-align: middle;
    }

    #header-menu ul.menu > li > a {
        padding: 0 24px;
        line-height: 96px;
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 1200px) {
    #header-menu ul.menu {
        padding-bottom: 75px;
    }
    
    #header-menu ul.menu > li {
        padding: 0;
        border-bottom: 1px solid rgba(225,225,225,0.2);
    }

    #header-menu ul.menu > li > a {
        display: block;
        padding: 22px 0;
    }

    #header .menu-main-nav-container {
        overflow-y: auto;
        max-height: calc(100% - 96px);
        padding: 0 36px;
        border-top: 1px solid rgba(225,225,225,0.2);
    }

}