<div class="page-container">
    <img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620963762/Promo_Photos_A/11.jpg" id="landing-banner" alt="Stevens Esports Banner">
    <div class="main" style="margin-top: -550px;">
        <div id="aboutUs">
            <div class="container width--wide">
                <h1>Who are we?</h1>
                <hr>
                <p>
                    Stevens Esports was founded in the Fall of 2018 by Anna 'annalog' Brown and Tarquin 'BrazenBike' Bennett.
                    We began as a small student lead organization boasting primarily Overwatch teams with 40 players. Since then, 
                    we have expanded to 8 Collegiate Esport titles with over 60 dedicated players competing under our banner.
                </p>
                <p>
                    We are proud to be the centralized hub of competitive gaming at Stevens Institute of Technology. We strive to 
                    provide our community with a positive and safe environment to perform at the highest level and be exposed to 
                    career opportunities within the industry of esports.
                </p>
                <br>
            </div>
            <div class="container width--wide" style="max-width:max-content">
                <h1>E-Board Members</h1>
                <hr>
                <div class="staff-grid">
                    <div class="staff">
                        <img style="width: 300px;" src="https://res.cloudinary.com/stevens-esports/image/upload/v1628121702/avatars/chris_kurtz.png" alt="President">
                        <h1>Chris "Number2Ginger" Kurtz</h1>
                        <h2>President &amp; Co-Chair of Tournament Ops</h2>
                    </div>
                    <div class="staff">
                        <img style="width: 300px;" src="https://res.cloudinary.com/stevens-esports/image/upload/v1628122172/avatars/mike_prizant.jpg" alt="Content Director">
                        <h1>Mike "Mickelsnack" Prizant</h1>
                        <h2>Content Director</h2>
                    </div>
                    <div class="staff">
                        <img style="width: 300px;" src="https://res.cloudinary.com/stevens-esports/image/upload/v1628122170/avatars/nick_cuoto.jpg" alt="Co-Chair of Tournament Ops">
                        <h1>Nick "SnikIRL" Couto</h1>
                        <h2>Co-Chair of Tournament Ops</h2>
                    </div>
                    <div class="staff">
                        <img style="width: 300px;" src="https://res.cloudinary.com/stevens-esports/image/upload/v1628122171/avatars/alex_longo.jpg" alt="Co-Chair of Tournament Ops">
                        <h1>Alex "fuzzybunny8998" Longo</h1>
                        <h2>Co-Chair of Tournament Ops</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
