<div class="page-container">
    <div class="main">
        <div class="login">
            <form method="PATCH" id="profile-form" action="/user/" class="form" enctype="multipart/form-data">
                <h1>Edit Profile Information</h1>
                <h2 style="text-align: center;">You will be logged out after changes are made.</h2>
                {{#if error}}
                    <p class="error">{{error}}</p>
                {{/if}}
                <div class="form__row">
                    <label for="firstName" class="required">First Name</label>
                    <input type="text" id="firstName" name="firstName" placeholder="First Name">
                    <p class="error"></p>
                </div>
                <div class="form__row">
                    <label for="lastName" class="required">Last Name</label>
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                    <p class="error"></p>
                </div>
                <div class="form__row">
                    <label for="nickname" class="required">Nickname</label>
                    <input type="text" id="nickname" name="nickname" placeholder="Nickname">
                </div>
                <div class="form__row">
                    <label for="discordtag" class="required">Discord Name/ID</label>
                    <input type="text" id="discordtag" name="discordtag" placeholder="GamerTag#1234">
                </div>
                <div class="form__row">
                    <label for="email" class="required">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email">
                    <p class="error"></p>
                </div>
                <div class="form__row">
                    <label for="username" class="required">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username">
                    <p class="error"></p>
                </div>
                <div class="form__row">
                    <label for="avatar">Upload New Image</label>
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                </div>
                <div class="form__row">
                    <label for="biography">Update Biography</label>
                    <textarea row="5" cols="40" id="biography" name="biography"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>