<div class="page-container">
    <img id="landing-banner" src="https://res.cloudinary.com/stevens-esports/image/upload/v1620963767/Promo_Photos_A/2_cropped.jpg" alt='Stevens Esports Banner'>
    <div class="main" style="margin-top: -75px;">
        <div id="landing-intro">
            <div class="container width--wide">
                <a class="twitter-timeline" data-width="500" data-height="1000" href="https://twitter.com/StevensEsports?ref_src=twsrc%5Etfw">Tweets by StevensEsports</a>
                <h1>What is Stevens Esports?</h1>
                <br>
                <p>
                    Stevens Esports is a student-led organization within the Stevens Institute of Technology that caters
                    to students who are interested in competitive gaming. Stevens Esports regularly competes in
                    collegiate tournaments in games such as League of Legends, Counter-Strike: Global Offensive,
                    Overwatch, Call of Duty, and many other games.
                </p>
                <p style="font-style: normal; font-weight: bold;">
                    Interested? Sign up for an account here and register for a team!
                </p>
                <a class="parallelogram button" href="/register">
                    <span class="skew-fix text">Sign up</span>
                </a>
                <p style="font-style: normal; font-weight: bold;">
                    Join our active community at our Discord server!
                </p>
                <a class="parallelogram button" href="https://discord.gg/6sbU8C7">
                    <span class="skew-fix text">Join Us!</span>
                </a>
                <img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620963769/Promo_Photos_A/3.jpg" alt='Stevens Gamers'>
            </div>
        </div>
    </div>
</div>
<!-- .page-container -->