<div class="page-container">
    <div class="main">
        <div class="login">
            <form method="POST" id="login-form" action="/login" class="form">
                <h1>Log In</h1>
                {{#if error}}
                    <p class="error">{{error}}</p>
                {{/if}}
                <div class="form__row">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Email or Username" required>
                    <p class="error"></p>
                </div>
                <div class="form__row">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <p class="error"></p>
                </div>
                <button type="submit">Login</button>
                <div class="form__or">or</div>
                <a class="signup" href="/register">Sign Up</a>
            </form>
        </div>
    </div>
</div>
