<div class="page-container">
    <div class="main">
        <div class="team-grid">
            {{#each teams}}
            <div class="team">
                {{#if this.name}}
                <h1>{{this.name}}</h1> 
                {{/if}}
                <dl>
                    {{#if this.status}}
                    <dt class="teamStatus">Varsity Status</dt>
                    <dd class="teamStatus">{{this.status}}JV</dd>
                    {{/if}}
                    {{#if this.game}}
                    <dt class="teamGame">Game</dt>
                    <dd class="teamGame">{{this.game}}</dd>
                    {{/if}}
                    {{#if players.}}
                    <dt class="teamPlayers">Roster</dt>
                    <dd class="teamPlayers">
                        <ul>
                            {{#each this.players}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                    </dd>
                    {{/if}}
                </dl>
            </div>
            {{/each}}
        </div>
    </div>
</div>
