<div class="page-container">
    <img id="landing-banner" src="/public/assets/intro_bg.jpg" alt='Stevens Esports Banner'>
    <div class="main" style="background-image: none;">
        <div class="container width--wide">
            <p>Stevens Esports Account Registration</p>
            {{#if error}}
            <p id="error">{{error}}</p>
            {{/if}}
            <form method="POST" id="login-form" action="/login">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username..."><br><br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" placeholder="Password...">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<!-- .page-container -->