<header id="header">
    <div class="container">
        <!--<button id="mobile-menu__trigger" class></button>-->
        <nav id="header-menu" class="">
            <div class="menu-main-nav-container">
                <ul id="menu-main-nav" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="/">Match Schedule</a>
                    </li>
                    <li class="team-items menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                        <a href="#" target="" class="">Rosters</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- .container -->
</header>
<!-- .header -->
<footer id="footer">
    <div class="footer-info">

    </div>
</footer>